<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('IMAP Host') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.mailtooctoprint.imap_host" placeholder="imap.mail.domain">
        </div>

        <label class="control-label">{{ _('Email User') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.mailtooctoprint.imap_user" placeholder="user@email.com">
        </div>

        <label class="control-label">{{ _('Email Password') }}</label>
        <div class="controls">
            <input type="password" class="input-block-level" data-bind="value: settings.plugins.mailtooctoprint.imap_password" placeholder="******">
        </div>

        <label class="control-label">{{ _('Poll Interval Minutes (requires restart)') }}</label>
        <div class="controls">
            <input type="number" class="input-block-level" data-bind="value: settings.plugins.mailtooctoprint.wait_minutes" min="1">
        </div>
    </div>
</form>